.tableschema-ui-editor .controls {
}

.tableschema-ui-editor .field {
  padding: 0.5em 0;
}

.tableschema-ui-editor .input-group-text {
  background-color: #fafafa;
  font-size: 80%;
  color: #aaa;
}

.tableschema-ui-editor .btn-light  {
  border: solid 1px #ddd;
  background-color: #fafafa;
  font-size: 80%;
  color: #555;
}

.tableschema-ui-editor .btn-light:hover  {
  background-color: #eee;
}

.tableschema-ui-editor .field-name  {
  font-weight: bold;
}

.tableschema-ui-editor .field-details .card {
  margin-top: 1em;
}

.tableschema-ui-editor .field-details label {
  font-size: 80%;
  color: #555;
}
